{% extends "base.jinja2" %}

{% block content %}
   <table class="table">
    <tr>
        <th>Title</th>
       <th>Theme</th>
       <th></th>
       <th></th>
    </tr>
    {% for video in videos %}
        <tr>
            <th>{{ video['title'] }}</th>
            <th>{{ video['theme'] }}</th>
            <th>
                <a href="#" onclick="like('{{ video['uid'] }}')">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    <span id="like{{ video['uid'] }}" class="badge">{{ video['likes'] }}
                </a>
            </th>
            <th>
                <a href="#" onclick="dislike('{{ video['uid'] }}')">
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                    <span id="dislike{{ video['uid'] }}" class="badge">{{ video['dislikes'] }}
                </a>
            </th>
       </tr>
    {% endfor %}
   </table>
{% endblock %}
